{% extends '_base.html' %}

{% set to_root = './' %}

{% block head %}
{{ super() }}
<script defer type="module" src="index.js?v={{_v}}"></script>
{% endblock %}
</head>
{% block body %}
<el-impress>
    <el-container>
        <h1>DefIcon</h1>
        <h2>Bring SVG Definitions to Icon Component<br>for WebApp</h2>
        <el-icon name="applause"></el-icon>
    </el-container>
</el-impress>
<el-container>
    <el-paragraph>
    {{ markdown('index.html.content.md') }}
    </el-paragraph>
</el-container>
{% endblock body %}